//
   Created with JetBrains WebStorm.
   User: agurha
   Date: 31/03/2013
   Time: 11:58
   To change this template use File | Settings | File Templates.

!!!
html
  head
    meta(charset='utf8')
    base(href='/')
    block title
      title urlecg
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:bold')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Nobile')
    link(rel='stylesheet', href='/stylesheets/auth-buttons.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-editable/css/bootstrap-editable.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block body